{% extends 'layout.html' %}
{% load static %}
{% block extrahead %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <script src="{% static 'script.js' %}"></script>
{% endblock extrahead %}

{% block content %}
    <div class="home">
        <div class="home-description-one">
            <h1>Add daily income and keep track of your records.</h1>
            <center>
                <img src="{% static 'images/income.jpeg' %}" class="home-icon">
            </center>
            <p>Discover financial ease with our user-friendly expense management solution. Effortlessly track, analyze, and optimize your spending habits, putting you in control of your finances like never before. Say goodbye to guesswork and hello to clarity with our intuitive platform designed to simplify your financial journey.</p>
        </div>
        <div class="home-description-two">
            <h1><b><i>Spend your money charily!</i>></b></h1>
            <center>
                <img src="{% static 'images/homeicon1.jpg' %}" class="home-icon">
            </center>
            <p>Keep track of your daily spendings with FinTracker; Visualize your income and expenses using Tracker Table.</p>
        </div>
        <div class="home-description-three">
            <h1>Add daily expenses and keep track of your records.</h1>
            <center>
                <img src="{% static 'images/expense.jpg' %}" class="home-icon">
            </center>
            <p>Elevate your financial journey with our user-friendly income management solution. Seamlessly track, manage, and maximize your earnings with ease, empowering you to achieve your financial goals effortlessly. Take charge of your income streams and embrace financial clarity with our intuitive platform, tailored to simplify your path to financial success.</p>
        </div>
    </div>
    <!-- <footer class="footer">
    </footer> -->
{% endblock content %}